transformers==4.33.2
torch>=1.13.1
peft==0.4.0
accelerate==0.21.0
bitsandbytes==0.39.0
einops==0.6.1
evaluate==0.4.0
scikit-learn==1.2.2
sentencepiece==0.1.99
wandb==0.15.3
func-timeout==4.3.5
datasets>=2.12.0
trl>=0.5.0
pydantic==1.10.11
deepspeed==0.10.2
gradio>=3.36.0
uvicorn
fastapi==0.95.1
transformers_stream_generator
matplotlib
sse-starlette
tiktoken
jieba
rouge-chinese
rapidfuzz
scipy
sqlparse
nltk